.profile .poster img {
    width: 100%;

}

.profile .profile_info {
    display: grid;
    grid-template-areas:
    "p_img p_desc";
    grid-template-rows: 1fr;
    grid-template-columns: 20% 80%;
}

.profile .profile_desc {
    grid-area: p_desc;
}

.profile .profile_img {
    grid-area: p_img;
}

.profile .profile_img img {
    width: 100%;
}
