.header {
    grid-area: header;
    background-color: #81ACBD;
}

.header div {
    display: flex;
    align-items: center;
    height: 100%;
}

.header img {
    vertical-align: middle;
    width: 50px;
}

.header h2 {
    display: inline;
}